
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

body {
  background: white;
  color: black;
  font-family: 'Roboto','Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

h1 {
  color: tomato;
}

img {
  width: 100%;
  max-width: 460px;
  display: block;
  margin: 10px 0;
}

.navbar {
  background: rgba(73,155,234,1);
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 66px;
  height: 60px;
  line-height: 62px;
  padding: 0 10px;
  text-decoration: none;
  text-shadow: 2px 2px 4px #4bff00;
  user-select: none;
  cursor: default;
}

.container{
  padding-top: 15px;
}

.messages {
  width: 100%;
  display: inline-block;
}

.message {
  padding: 5px;
}

.message:hover {
  background-color: #F9F9F9
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  margin: 5px;
  padding: 0 10px;
  display: block;
}

.message-content {
  padding-left: 20px;
}

.message-username {
  font-weight: 700;
}

.usersOnline {
  float: right;
  right: 20px;
  z-index: 1;
  font-size: inherit;
  position: fixed;
  display: inline;
  border: 1px solid;
  border-color: #499bea;
  border-radius: 20px;
  padding: 14px;
  padding-bottom: 0px;
  background-color: aliceblue;
  top: 6px;
  max-width: 30%;
  word-break: break-word;
}

.usersOnline:hover {
  border-color: rgb(74, 240, 36);
  box-shadow: 0px 0px 10px rgba(74, 240, 36, 0.2);
  cursor: pointer;
}

.userList {
  display: none;
}

.user {
  display: block;
  line-height: 23px;
}

.user-color {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  padding-bottom: 1px;
}

.user-name {
  line-height: 2px;
}

.hiddenList{
  width: auto;
  display: none;
}

.chatbar {
  background: rgba(73,155,234,1);
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  border-radius: 18px;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

@media screen and (max-width: 500px) {

  .navbar-brand {
    font-size: 42px;
    line-height: 60px;
  }

  .usersOnline{
    font-size: inherit;
  }

}